/********** Fonts **********/

h1,
p,
span,
.attribution {
  font-family: "Outfit", sans-serif;
}

/********** Cards **********/

body {
  background-color: #f4d04e;
}

.root-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.card {
  background-color: white;
  border: 2px solid black;
  border-radius: 18px;
  max-width: 327px;
  max-height: 501px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
}

.card-container {
  width: 327px;

  /* border: 2px solid red; */
}

.img-container {
  margin-bottom: 14px;
}

.card-photo {
  width: 327px;
  border-radius: 18px;
  /* border: 2px solid cyan; */
}

.learning {
  padding: 8px 14px;
  background-color: #f4d04e;
  border-radius: 8px;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
}

.published {
  font-size: 14px;
  line-height: 150%;
}

.title {
  font-size: 24px;
  line-height: 150%;
}

.title:hover {
  color: #f4d04e;
}

.text-desc {
  font-size: 16px;
  line-height: 150%;
  color: #6b6b6b;
}

.img-name {
  display: flex;
  align-items: center;
  gap: 12px;
}

.personal-photo {
  width: 32px;
  height: 32px;
}

.name {
  font-weight: bold;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 375px) {
  .card {
    max-width: 384px;
    max-height: 522px;
  }

  .card-container {
    width: 338px;
  }

  .card-photo {
    width: 338px;
  }
}
